{% extends 'index.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- Cards -->
        <section id="section-produtos" style="margin-bottom: 40px;">

            <h1 class="sessao">Produto</h1>

            <div class="cards">
                <div class="card">
                    <div class="icon">
                        <img class="img-produtos" src="{{tenis.imagem}}">
                    </div>
                    <h3 class="nome-produto">{{tenis.tenis}}</h3>
                    <p class="preco-produto">{{tenis.valor}}</p>
                    <button class="ver-mais" type="submit"><a href="">Ver mais</a></button>
                </div>
            </div>
        </section>
        <!-- Fim Cards -->
    </main>
{% endblock %}