{% extends 'index.html' %}
{% load static %}

{% block content %}
<main>
    <!-- Slide -->
    <section>

        <!--Container dos Slides-->
        <div class="swiper">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="center"><img class="img-slide" style="background-size: contain;"
                            src="{% static 'img/Slides/banner.png' %}"></div>
                </div>
                <div class="swiper-slide">
                    <div class="center"><img class="img-slide" src="{% static 'img/Slides/banner2.png' %}"></div>
                </div>
                <div class="swiper-slide">
                    <div class="center"><img class="img-slide" src="{% static 'img/Slides/banner3.png' %}"></div>
                </div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
        <!--Fim Container dos Slides-->
    </section>
    <!-- Fim Slide -->

    <!-- Cards -->
    <section id="section-produtos">

        <h1 class="sessao">Produtos</h1>

        <div class="cards">
            {% for tenis in listaTenis %}
            <div class="card">
                <div class="icon">
                    <img class="img-produtos" src="{{tenis.imagem}}">
                </div>
                <h3 class="nome-produto">{{tenis.tenis}}</h3>
                <p class="preco-produto">{{tenis.valor}}</p>
                <button class="ver-mais" type="submit"><a href="http://localhost:8000/tenis/{{tenis.id}}">Ver
                        mais</a></button>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="section-promocoes">

        <h1 class="sessao">Promoções</h1>

    </section>

    <!-- Fim Cards -->
</main>

{% endblock %}