{% load static %}

<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <!--Slides-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <!--Ícone da página-->
    <link rel="icon" href="{% static 'img/Icon/Icon.png' %}">

    <!--Font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Título -->
    <title>Sneakers</title>

</head>

<body>

    <header>
        <!-- Login/Registro -->
        <div class="login">
            <div class="text-login">
                <a class="login-item" href="">Login</a>
                <p class="login-item">/</p>
                <a class="login-item" href="">Registro</a>
            </div>
        </div>
        <!-- Fim do Login/Registro -->

        <!--Inicio da navbar-->
        <nav id="navbar">

            <!-- Logo -->
            <div><a class="logo" href="">Sneakers</a></div>
            <!-- Fim da logo -->

            <!--Menu-->
            <div>
                <!-- Sessões do menu -->
                <ul id="menu">
                    <a class="nav-item" href="">HOME</a></li>
                    <li><a class="nav-item" href="#section-produtos">PRODUTOS</a></li>
                    <li><a class="nav-item" href="#section-promocoes">PROMOÇÃO</a></li>
                    <li><a class="nav-item" href="#section-contatos">CONTATO</a></li>
                </ul>
                <!-- Fim das sessões do menu -->

            </div>
            <!-- Fim do menu -->

            <!-- Carrinho e pesquisa -->
            <div class="right-side">
                <!-- Pesquisa -->
                <div class="pesquisa">
                    <input type="text" placeholder="Pesquise aqui...">
                    <i class="bi bi-search" style="color: white;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16" style="cursor: pointer;">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </i>
                </div>
                <!-- Fim Pesquisa -->

                <!-- Carrinho -->
                <div class="carrinho">
                    <i class="bi bi-bag" style="color: white;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bag" viewBox="0 0 16 16" style="cursor: pointer;">
                            <path
                                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                        </svg>
                    </i>
                </div>
                <!-- Carrinho -->
            </div>
            <!-- Fim do carrinho e pesquisa -->
        </nav>
        <!-- Fim da navbar -->
    </header>

    <main>
        <!-- Slide -->
        <section>

            <!--Container dos Slides-->
            <div class="swiper">

                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="center"><img class="img-slide" style="background-size: contain;" src="{% static 'Img/Slides/banner.png' %}"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="center"><img class="img-slide" src="{% static 'Img/Slides/Banner1.png' %}"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="center"><img class="img-slide" src="{% static 'Img/Slides/Banner2.webp' %}"></div>
                    </div>
                    ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
            <!--Fim Container dos Slides-->
        </section>
        <!-- Fim Slide -->

        <!-- Cards -->
        <section id="section-produtos">

            <h1 class="sessao">Produtos</h1>

            <div class="cards">
                {% for tenis in listaTenis %}
                <div class="card">
                    <div class="icon">
                        <img class="img-produtos" src="{{tenis.imagem}}">
                    </div>
                    <h3 class="nome-produto">{{tenis.tenis}}</h3>
                    <p class="preco-produto">{{tenis.valor}}</p>
                    <button class="ver-mais" type="submit"><a href="http://localhost:8000/tenis/{{tenis.id}}">Ver mais</a></button>
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="section-promocoes">

            <h1 class="sessao">Promoções</h1>

        </section>

        <!-- Fim Cards -->
    </main>

    <footer>

        <section id="section-contatos">
                <!--Rodapé-->
                <div class="conteudo-footer">
                    
                    <!--Nome da loja-->
                    <h3>Sneakers</h3>
                    <!--Fim do nome da loja-->

                    <!--Informações-->
                    <p>
                        Loja de Sneakers em desenvolvimento.
                    </p>
                    <!--Fim das informações-->
                    
                    <!--Meios de contato-->
                    <h4>Contatos:</h4>
                    <ul class="contatos">
                        <li><a href="https://github.com/JoaoVictorPimentel" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jo%C3%A3o-victor-pimentel-9068ba230/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="https://www.instagram.com/pimentell._/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!--Fim dos meios de contato-->
                </div>
                <!--Fim Rodapé-->

                <!--Final da página-->
                <div class="fim">
                    <p>copyright &copy;2022 JV Sneakers. designed by <span>João Dev</span></p>
                </div>
                <!--Fim final da página-->
        </section>

    </footer>


    <!--JavaScript-->
    <script src="script.js"></script>
    <!--Slides-->
    <script type="module">
        import Swiper from 'https://unpkg.com/swiper@8/swiper-bundle.esm.browser.min.js'

        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            spaceBetween: 0,
            hashNavigation: true,
            mousewheel: true,
            speed: 700,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            autoplay: {
                delay: 5000,
                spaceBetween: 0,
                hashNavigation: true,
                mousewheel: true,
                speed: 900,
                disableOnInteraction: false,
            },
        });
    </script>
</body>

</html>